input.ng-touched.ng-invalid{
  background-color: var(--validator-color);
}

.mat-dialog-container {
  padding: 0;
}

.fieldFormHeader {
  margin-left: 120px;
}

.fieldContentForm {
  margin-left: 6px;
  padding-top: 15px;
  padding-right: 12px;
}
.widthElements {
  width:333px;
}

.select {
  width:333px;
}

.cancelButton {
  background: var(--cancel-button-color);
  color: white;
  font-size: 0.8em;
  margin-top: -5px;
  width: 162px;
  height: 45px;
}

.submitButton {
  background: var(--blue-color);
  color: white;
  font-size: 0.8em;
  margin-top: -5px;
  float: right;
  width: 162px;
  height: 45px;
}
