@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --blue-color: #37b1db;
  --border-color: #f2f2f2;
  --cancel-button-color: #a0a0a0;
  --validator-color: #fbc6c6;
  --field-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hr {
  width: 382px;
  height: 1px;
  margin-left: -16px;
  border: none;
  color: var(--border-color);
  background-color: var(--border-color);
}
  
.mat-card-header .mat-card-title {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: #bfbfbf;
  border-width: 1px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: var(--blue-color);
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
}

ul {
  list-style: none;
}

.container {
  margin: 25px auto auto auto;
  overflow: hidden;
  max-width: 1280px;
}
